/* 세로모드 모바일 디바이스 (가로 해상도가 576px 보다 작은 화면에 적용)*/
@media (max-width: 575px) { 
    .light{
        width: 500px;
    }
    .sun{
        width: 500px;
    }
    #clock{
        width: 500px;
    }
    #apply{
        width: 500px;
    }
}

/* 가로모드 모바일 디바이스 (가로 해상도가 576px보다 크고 768px 보다 작은 화면에 적용)*/
@media (min-width: 576px) and (max-width: 767px) {
    .light{
        width: 500px;
    }
    .sun{
        width: 500px;
    }
    #clock{
        width: 500px;
    }
    #apply{
        width: 500px;
    }
}

/* 태블릿 디바이스 (가로 해상도가 768px보다 크고 991px 보다 작은 화면에 적용)*/
@media (min-width: 768px) and (max-width: 991px) {
    .light{
        width: 500px;
    }
    .sun{
        width: 500px;
    }
    #clock{
        width: 500px;
    }
    #apply{
        width: 500px;
    }
}

/* 데스크탑 (가로 해상도가 992px보다 크고 1199px 보다 작은 화면에 적용)*/
@media (min-width: 992px) and (max-width: 1199px) {
    .light{
        width: 500px;
    }
    .sun{
        width: 500px;
    }
    #clock{
        width: 500px;
    }
    #apply{
        width: 500px;
    }
}

/* 큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용)*/
@media (min-width: 1200px) {
    .light{
        width: 500px;
    }
    .sun{
        width: 500px;
    }
    #clock{
        width: 500px;
    }
    #apply{
        width: 500px;
    }
}

/*body{
    width: 100%;
    height: 100vh;
    margin:0px;
    background-color:#010413;
    font-family: 'Roboto', sans-serif;
}
.light{
    width: 500px;
    height: 570px;
    margin: auto;
    background-image:
    radial-gradient(ellipse at center, #FFF0 20%, #010413 50%, #010413 110%, transparent),
    linear-gradient(to right, #d93df5, #f95656, #f38bafd1, #f95656, #d93df5);
    background-position: 0 -80px;
}
.sun {
    width: 500px;
    height: 500px;
    margin: auto;
    background-image:
    radial-gradient(circle at 50%, #000 0, #04060e 50%, rgba(0, 0, 0, 0) 51%);
    background-position: 0 0;
    color: #FFF;
    position: relative;
}
p{
    display: none;
    height: 100%;
    line-height: 500px;
    text-align: center;
    color: #CCC;
    letter-spacing: 23px;
    font-size: 25px;
    text-shadow: 0px 0px 2px #ccc;
}
#clock{
    width: 500px;
    margin-top: 50px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    color: #CCC;
    letter-spacing: 2px;
}
#apply{
    width: 500px;
    line-height: 500px;
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    color: #CCC;
    letter-spacing: 1px;
}
a{
    border: solid 1px #CCC;
    padding: 0.25em 0.8em;
    text-decoration: none;
    color: #CCC;
}
a:hover{
    color: #FFF;
    border: solid 1px #FFF;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}
.logo{
    display: block !important;
    position: inherit;
    height: 0px;
    text-align: center;
    margin: auto;
    line-height: 2.5;
    letter-spacing: 4px;
}*/



body{
    width: 100%;
    height: 100vh;
    margin:0px;
    background-color:#010413;
    font-family: 'Roboto', sans-serif;
}
.light{
    width: 500px;
    height: 570px;
    margin: auto;
    background-image:
    radial-gradient(ellipse at center, #FFF0 20%, #010413 50%, #010413 110%, transparent),
    -webkit-gradient(linear, left top, right top, from(#d93df5), color-stop(#f95656), color-stop(#f38bafd1), color-stop(#f95656), to(#d93df5));
    background-image:
    -webkit-radial-gradient(center, ellipse, #FFF0 20%, #010413 50%, #010413 110%, transparent),
    -webkit-linear-gradient(left, #d93df5, #f95656, #f38bafd1, #f95656, #d93df5);
    background-image:
    -moz-radial-gradient(center, ellipse, #FFF0 20%, #010413 50%, #010413 110%, transparent),
    -moz-linear-gradient(left, #d93df5, #f95656, #f38bafd1, #f95656, #d93df5);
    background-image:
    -o-radial-gradient(center, ellipse, #FFF0 20%, #010413 50%, #010413 110%, transparent),
    -o-linear-gradient(left, #d93df5, #f95656, #f38bafd1, #f95656, #d93df5);
    background-image:
    radial-gradient(ellipse at center, #FFF0 20%, #010413 50%, #010413 110%, transparent),
    linear-gradient(to right, #d93df5, #f95656, #f38bafd1, #f95656, #d93df5);
    background-position: 0 -80px;
}
.sun {
    width: 500px;
    height: 500px;
    margin: auto;
    background-image:
    -webkit-radial-gradient(50%, circle, #000 0, #04060e 50%, rgba(0, 0, 0, 0) 51%);
    background-image:
    -moz-radial-gradient(50%, circle, #000 0, #04060e 50%, rgba(0, 0, 0, 0) 51%);
    background-image:
    -o-radial-gradient(50%, circle, #000 0, #04060e 50%, rgba(0, 0, 0, 0) 51%);
    background-image:
    radial-gradient(circle at 50%, #000 0, #04060e 50%, rgba(0, 0, 0, 0) 51%);
    background-position: 0 0;
    color: #FFF;
    position: relative;
}
p{
    display: none;
    height: 100%;
    line-height: 500px;
    text-align: center;
    color: #CCC;
    letter-spacing: 23px;
    font-size: 25px;
    text-shadow: 0px 0px 2px #ccc;
}
#clock{
    width: 500px;
    margin-top: 50px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    color: #CCC;
    letter-spacing: 2px;
}
#apply{
    width: 500px;
    line-height: 500px;
    text-align: center;
    margin-top: 150px;
    font-size: 20px;
    position: absolute;
    top: 0px;
    color: #CCC;
    letter-spacing: 1px;
}
a{
    border: solid 1px #CCC;
    padding: 0.25em 0.8em;
    text-decoration: none;
    color: #CCC;
}
a:hover{
    color: #FFF;
    border: solid 1px #FFF;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.middle {
    display: table-cell;
    vertical-align: middle;
}
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    /*whatever width you want*/
}
.logo{
    display: block !important;
    position: inherit;
    height: 0px;
    text-align: center;
    margin: auto;
    line-height: 2.5;
    letter-spacing: 4px;
}